# Python Assignment 2 S.Y. D. S

# Basic Exercises on Data Importing - Understanding - Manipulating - Analysis - Visualization

# Section-1: The pupose of the below exercises (1-7) is to create dictionary and convert into dataframes, how to diplay etc...

# The below exercises required to create data

# 1. Import the necessary libraries (pandas, numpy, datetime, re etc)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import re

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

2. Run the below line of code to create a dictionary and this will be used for below exercises¶

In [5]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']        
            }

In [6]:
pokemon= pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

3. Assign it to a object called pokemon and it should be a pandas DataFrame

In [7]:
pokemon= pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon=pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

5. Add another column called place, and insert places (lakes, parks, hills, forest etc) of your choice.

In [9]:
pokemon['place']= ['lakes', 'parks', 'hills', 'forest']
pokemon

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_10348\32797465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place']= ['lakes', 'parks', 'hills', 'forest']

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes   lakes
1  Charmander   fire  39  Charmeleon      no   parks
2    Squirtle  water  44   Wartortle     yes   hills
3    Caterpie    bug  45     Metapod      no  forest

6. Display the data type of each column

In [10]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

7. Display the info of dataframe

In [11]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes

# Section-2

## The below exercises required to use wine.data

8. Import the dataset wine.txt from the folder and assign it to a object called wine
Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [13]:
wine=pd.read_csv("wine.csv")
wine.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

9. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [15]:
wine.drop(columns=["Wine","Ash","Acl","Phenols","Nonflavanoid.phenols","Color.int","OD"],inplace=True)
wine

     Alcohol  Malic.acid   Mg  Flavanoids  Proanth   Hue  Proline
0      14.23        1.71  127        3.06     2.29  1.04     1065
1      13.20        1.78  100        2.76     1.28  1.05     1050
2      13.16        2.36  101        3.24     2.81  1.03     1185
3      14.37        1.95  113        3.49     2.18  0.86     1480
4      13.24        2.59  118        2.69     1.82  1.04      735
..       ...         ...  ...         ...      ...   ...      ...
173    13.71        5.65   95        0.61     1.06  0.64      740
174    13.40        3.91  102        0.75     1.41  0.70      750
175    13.27        4.28  120        0.69     1.35  0.59      835
176    13.17        2.59  120        0.68     1.46  0.60      840
177    14.13        4.10   96        0.76     1.35  0.61      560

[178 rows x 7 columns]

### 10. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [16]:
wine.columns=['alcohol', 'malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins', 'hue']
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,127,3.06,2.29,1.04,1065
1,13.20,1.78,100,2.76,1.28,1.05,1050
2,13.16,2.36,101,3.24,2.81,1.03,1185
3,14.37,1.95,113,3.49,2.18,0.86,1480
4,13.24,2.59,118,2.69,1.82,1.04,735
...,...,...,...,...,...,...,...
173,13.71,5.65,95,0.61,1.06,0.64,740
174,13.40,3.91,102,0.75,1.41,0.70,750
175,13.27,4.28,120,0.69,1.35,0.59,835
176,13.17,2.59,120,0.68,1.46,0.60,840
177,14.13,4.10,96,0.76,1.35,0.61,560

11. Set the values of the first 3 values from alcohol column as NaN

In [18]:
import numpy as np
wine.alcohol.iloc[0:3] =np.nan
wine

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_10348\171762636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.alcohol.iloc[0:3] =np.nan

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,127,3.06,2.29,1.04,1065
1,NaN,1.78,100,2.76,1.28,1.05,1050
2,NaN,2.36,101,3.24,2.81,1.03,1185
3,14.37,1.95,113,3.49,2.18,0.86,1480
4,13.24,2.59,118,2.69,1.82,1.04,735
...,...,...,...,...,...,...,...
173,13.71,5.65,95,0.61,1.06,0.64,740
174,13.40,3.91,102,0.75,1.41,0.70,750
175,13.27,4.28,120,0.69,1.35,0.59,835
176,13.17,2.59,120,0.68,1.46,0.60,840
177,14.13,4.10,96,0.76,1.35,0.61,560

12. Now set the value of the rows 3 and 4 of magnesium as NaN

In [19]:
wine.magnesium.iloc[2:4]=np.nan
wine

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_10348\3725562349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.magnesium.iloc[2:4]=np.nan

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,127,3.06,2.29,1.04,1065
1,NaN,1.78,100,2.76,1.28,1.05,1050
2,NaN,2.36,101,NaN,2.81,1.03,1185
3,14.37,1.95,113,NaN,2.18,0.86,1480
4,13.24,2.59,118,2.69,1.82,1.04,735
...,...,...,...,...,...,...,...
173,13.71,5.65,95,0.61,1.06,0.64,740
174,13.40,3.91,102,0.75,1.41,0.70,750
175,13.27,4.28,120,0.69,1.35,0.59,835
176,13.17,2.59,120,0.68,1.46,0.60,840
177,14.13,4.10,96,0.76,1.35,0.61,560

13. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium¶

In [20]:
wine.alcohol=wine.alcohol.fillna(10)
wine.magnesium=wine.magnesium.fillna(100)
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,127,3.06,2.29,1.04,1065
1,10.00,1.78,100,2.76,1.28,1.05,1050
2,10.00,2.36,101,100.00,2.81,1.03,1185
3,14.37,1.95,113,100.00,2.18,0.86,1480
4,13.24,2.59,118,2.69,1.82,1.04,735
...,...,...,...,...,...,...,...
173,13.71,5.65,95,0.61,1.06,0.64,740
174,13.40,3.91,102,0.75,1.41,0.70,750
175,13.27,4.28,120,0.69,1.35,0.59,835
176,13.17,2.59,120,0.68,1.46,0.60,840
177,14.13,4.10,96,0.76,1.35,0.61,560

14. Count the number of missing values in all columns.
​

In [21]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

15. Create an array of 10 random numbers up until 10 and save it.
​

In [22]:
Q15=np.random.randint(0,11,10)
Q15

array([ 9,  7,  7,  2,  1,  0,  5,  9, 10,  9])

16. Set the rows corresponding to the random numbers to NaN in the column alcohol

In [23]:
wine.alcohol.iloc[Q15]=np.nan
wine.head(20)

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_10348\151691020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine.alcohol.iloc[Q15]=np.nan

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,127,3.06,2.29,1.04,1065
1,NaN,1.78,100,2.76,1.28,1.05,1050
2,NaN,2.36,101,100.00,2.81,1.03,1185
3,14.37,1.95,113,100.00,2.18,0.86,1480
4,13.24,2.59,118,2.69,1.82,1.04,735
5,NaN,1.76,112,3.39,1.97,1.05,1450
6,14.39,1.87,96,2.52,1.98,1.02,1290
7,NaN,2.15,121,2.51,1.25,1.06,1295
8,14.83,1.64,97,2.98,1.98,1.08,1045
9,NaN,1.35,98,3.15,1.85,1.01,1045
10,NaN,2.16,105,3.32,2.38,1.25,1510
11,14.12,1.48,95,2.43,1.57,1.17,1280
12,13.75,1.73,89,2.76,1.81,1.15,1320
13,14.75,1.73,91,3.69,2.81,1.25,1150
14,14.38,1.87,102,3.64,2.96,1.20,1547
15,13.63,1.81,112,2.91,1.46,1.28,1310
16,14.30,1.92,120,3.14,1.97,1.07,1280
17,13.83,1.57,115,3.40,1.72,1.13,1130
18,14.19,1.59,108,3.93,1.86,1.23,1680
19,13.64,3.10,116,3.03,1.66,0.96,845

### 17.  How many missing values do we have now?

In [24]:
wine.isna().sum()

alcohol              7
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

18. Print only the non-null values in alcohol

In [25]:
wine[['alcohol']].dropna()

     alcohol
3      14.37
4      13.24
6      14.39
8      14.83
11     14.12
..       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13

[171 rows x 1 columns]

19. Delete the rows that contain missing values

In [26]:
wine=wine.dropna()
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
3,14.37,1.95,113,100.00,2.18,0.86,1480
4,13.24,2.59,118,2.69,1.82,1.04,735
6,14.39,1.87,96,2.52,1.98,1.02,1290
8,14.83,1.64,97,2.98,1.98,1.08,1045
11,14.12,1.48,95,2.43,1.57,1.17,1280
...,...,...,...,...,...,...,...
173,13.71,5.65,95,0.61,1.06,0.64,740
174,13.40,3.91,102,0.75,1.41,0.70,750
175,13.27,4.28,120,0.69,1.35,0.59,835
176,13.17,2.59,120,0.68,1.46,0.60,840
177,14.13,4.10,96,0.76,1.35,0.61,560

20. Reset the index, so it starts with 0 again

In [27]:
wine.reset_index(drop=True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.37,1.95,113,100.00,2.18,0.86,1480
1,13.24,2.59,118,2.69,1.82,1.04,735
2,14.39,1.87,96,2.52,1.98,1.02,1290
3,14.83,1.64,97,2.98,1.98,1.08,1045
4,14.12,1.48,95,2.43,1.57,1.17,1280
...,...,...,...,...,...,...,...
166,13.71,5.65,95,0.61,1.06,0.64,740
167,13.40,3.91,102,0.75,1.41,0.70,750
168,13.27,4.28,120,0.69,1.35,0.59,835
169,13.17,2.59,120,0.68,1.46,0.60,840
170,14.13,4.10,96,0.76,1.35,0.61,560