# Python Assignment 2 S.Y. D. S

# Basic Exercises on Data Importing - Understanding - Manipulating - Analysis - Visualization

# Section-1: The pupose of the below exercises (1-7) is to create dictionary and convert into dataframes, how to diplay etc...

# The below exercises required to create data

# 1. Import the necessary libraries (pandas, numpy, datetime, re etc)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import re

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

2. Run the below line of code to create a dictionary and this will be used for below exercises¶

In [ ]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

3. Assign it to a object called pokemon and it should be a pandas DataFrame

4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

5. Add another column called place, and insert places (lakes, parks, hills, forest etc) of your choice.

6. Display the data type of each column

7. Display the info of dataframe

# Section-2

## The below exercises required to use wine.data

8. Import the dataset wine.txt from the folder and assign it to a object called wine
Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

9. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

### 10. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

11. Set the values of the first 3 values from alcohol column as NaN

12. Now set the value of the rows 3 and 4 of magnesium as NaN

13. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium¶

14. Count the number of missing values in all columns.
​

15. Create an array of 10 random numbers up until 10 and save it.
​

16. Set the rows corresponding to the random numbers to NaN in the column alcohol

### 17.  How many missing values do we have now?

18. Print only the non-null values in alcohol

19. Delete the rows that contain missing values

20. Reset the index, so it starts with 0 again